@import "@/styles/main.scss";

.audioPlayer {
  margin-top: $spacing-large;
  background-color: $background-color;
  color: $background-color;
  border-radius: 4px;
  width: 100%;
  filter: invert(100%);
}
