@import "@/styles/main.scss";

.episodeDetailContainer {
  padding: $spacing-medium $spacing-small $spacing-small;
  * {
    text-align: left;
  }
  h3 {
    padding-bottom: $spacing-small;
  }
  p {
    font-style: italic;
  }
}
